@keyframes fade_in_down {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@mixin checkbox_styling {
  display: flex;
  align-items: center;

  input[type="checkbox"] {
    box-sizing: border-box;
    width: 22px;
    height: 22px;
    margin-right: 10px;
  }
  input[type="text"] {
    border: 0px;
  }
}
