.login_form_wrapper {
  text-align: center;
  background: rgba(27, 27, 27, 0.598);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .login_form {
    position: relative;
    background-color: white;
    height: 280px;
    width: 420px;
    border-radius: 15px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    h3 {
      margin-top: 0;
    }

    label {
      display: flex;
      justify-content: space-between;
      width: 300px;
    }
    .navigate_to {
      cursor: pointer;
      color: lightseagreen;
    }
  }
}

.messages {
  position: absolute;
  top: 5px;
  left: 5px;
  color: red;
}
